<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/FooterStayle.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>e commeres</title>


</head>
<body>

    <header>
        <div class="container top-nav">
            <a href="index.html" class="logo"><img src="~/imgs/Logo.png" style="height:50px; width:50px;" alt=""></a>

            <form action="" class="search">
                <input type="search" placeholder="search here">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="cart_header">
                <div onclick="openCart()" class="icon_cart">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <span class="count_item">0</span>
                </div>
                <div class="total_price">
                    <p>my cart</p>
                    <p class="price_cart_Head">$0</p>
                </div>
            </div>
        </div>
        <nav>
            <div class="links container">
                <i onclick="open_menu()" class="fa-solid fa-bars btn_open_menu"></i>
                <ul id="menu">
                    <span onclick="close_menu()" class="bg-overlay"></span>

                    <i onclick="close_menu()" class="fa-regular fa-circle-xmark btn_close_menu"></i>
                    <img class="logo_menu" src="~/imgs/Logo.png" alt="">

                    <li><a asp-controller="Home" asp-action="index">home</a></li>
                    <li><a asp-controller="Home" asp-action="ToAllProducts">all products</a></li>
                    <li><a asp-controller="Home" asp-action="about">About Us</a></li>
                    <li><a asp-action="Contact" asp-controller="Home">contact</a></li>

                </ul>
                @if (Context.Session.GetString("UserName") == null)
                {

                    <div class="loging_signup">
                        <a asp-action="AuthScreen" asp-controller="Auth">login <i class="fa-solid fa-right-to-bracket"></i></a>
                    </div>
                }
                else{
                    

                    <h3>Welcome @Context.Session.GetString("UserName")</h3>

                }

            </div>
        </nav>
    </header>

    <main>
        <div class="cart">
            <div class="top_cart">
                <h3>My cart <span class="count_item_cart">(0itme in cart)</span></h3>
                <span onclick=" closeCart() " class="close_cart"><i class="fa-regular fa-circle-xmark"></i></span>
            </div>
            <div class="items_in_cart">
            </div>

            <div class="bottom_Cart">
                <div class="total">
                    <p>Cart subtotal</p>
                    <p class="price_cart_total">$0</p>
                </div>

                <div class="button_Cart">
                    <a asp-action="CheckOut" asp-controller="Home" class="btn_cart">Proceed to checkout</a>
                    <button onclick="closeCart()" class="btn_cart trans_bg">Shop more</button>
                </div>
            </div>

        </div>
        @RenderBody()
    </main>

    <footer>
        <div class="back_to_top">
            <p>back to top </p>
        </div>
        <div id="container">
            <div class="big_row">
                <img src="~/imgs/Logo.png" alt="">

                <div class="hotline">
                    <i class="fa-solid fa-headset"></i>
                    <div class="text">
                        <h5>Hotline free 24hour's</h5>
                        <h6>01080405240</h6>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="row">
                <h4>FAQs & Help</h4>
                <div class="links">
                    <a href="#">F.A.Q.’s</a>
                    <a href="#">Ordering Tracking</a>
                    <a href="#">Contacts</a>
                    <a href="#">Events</a>
                    <a href="#">Help Center</a>
                </div>
            </div>

            <div class="row">
                <h4>Shipping & Delivery</h4>
                <div class="links">
                    <a href="#">Delivery Information</a>
                    <a href="#">Discount</a>
                    <a href="#">Payment & Shipping</a>
                    <a href="#">Estimated Delivery Time</a>
                    <a href="#">Shipping Guide</a>
                </div>
            </div>

            <div class="row">
                <h4>Information</h4>
                <div class="links">
                    <a href="#">Popular</a>
                    <a href="#">Our Services</a>
                    <a href="#">Your Account</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Condition</a>
                </div>
            </div>
        </div>

        <div class="bottom_footer">
            <div class="section">
                <p>Copyright &copy; <span>e commerse</span> all rights reserved</p>
                <div class="payment_img">
                    <img src="~/imgs/payment-1.png" alt="">
                    <img src="~/imgs/payment-2.png" alt="">
                    <img src="~/imgs/payment-3.png" alt="">
                    <img src="~/imgs/payment-4.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>
    <!--mainjs-->
    <script src="~/js/site.js"></script>
    <script src="~/js/cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

   

</body>
</html>
