<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/FooterStayle.css" asp-append-version="true" />
    <style>

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">AdminPanel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div id ="container">
            <div class="big_row">
                <img src="~/Imgs/logoecommers.jpg" alt="">
                <div class="hotline">
                    <i class="fa-solid fa-headset"></i>
                    <div class="text">
                        <h5>Hotline free 24hour's</h5>
                        <h6>01080405240</h6>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="row">
                <h4>FAQs & Help</h4>

                <div class="links">
                    <a href="#">F.A.Q.’s</a>
                    <a href="#">Ordering Tracking</a>
                    <a href="#">Contacts</a>
                    <a href="#">Events</a>
                    <a href="#">Help Center</a>
                </div>
            </div>


            <div class="row">
                <h4>Shipping & Delivery</h4>

                <div class="links">
                    <a href="#">Delivery Information</a>
                    <a href="#">Discount</a>
                    <a href="#">Payment & Shipping</a>
                    <a href="#">Estimated Delivery Time</a>
                    <a href="#">Shipping Guide</a>
                </div>
            </div>


            <div class="row">
                <h4>Information</h4>

                <div class="links">
                    <a href="#">Popular</a>
                    <a href="#">Our Services</a>
                    <a href="#">Your Account</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Condition</a>
                </div>
            </div>

        </div>

        <div class="bottom_footer">
            <div class="section">
                <p>Copyright &copy; <span>e commerse</span> all rights reserved</p>

                <div class="payment_img">
                    <img src="~/Imgs/payment-1.png" alt="">
                    <img src="~/Imgs/payment-2.png" alt="">
                    <img src="~/Imgs/payment-3.png" alt="">
                    <img src="~/Imgs/payment-.png" alt="">
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
