
@{
    ViewData["Title"] = "about";
}

<link href="~/css/about.css" rel="stylesheet"/>

<script src="~/js/site.js"></script>
@* <script>
    // تحميل الكارت عند تحميل الصفحة
document.addEventListener('DOMContentLoaded', function() {
    loadCart();
});
</script> *@
@* 
<div class="cart">
    <div class="top_cart">
        <h3>My cart <span class="count_item_cart">(0itme in cart)</span></h3>
        <span onclick=" closeCart() " class="close_cart"><i class="fa-regular fa-circle-xmark"></i></span>
    </div>
    <div class="items_in_cart">
    </div>

    <div class="bottom_Cart">
        <div class="total">
            <p>Cart subtotal</p>
            <p class="price_cart_total">$0</p>
        </div>

        <div class="button_Cart">
            <a href="checkout.html" class="btn_cart">Proceed to checkout</a>
            <button onclick="close_cart()" class="btn_cart trans_bg">Shop more</button>
        </div>
    </div>

</div>
 *@

<section class="abo">
    <div class="heading">
        <div class="all_abo">
            <div class="abo-cotent">
                <h2>Our Story</h2>
                <p>
                    Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense in Bangladesh.
                    Supported by wide range of tailored marketing, data and service solutions,
                    Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region. .
                </p>
                <!-- <button class="abo-button">Learn More </button> -->
            </div>
            <div class="abo-img">
                <img src="~/Imgs/AboutUs.jpg">
            </div>
        </div>
    </div>
    <div class="container-abo">
        <div class="category-abo">
            <a href="#">
                <i class="fa-solid fa-bag-shopping"></i>
                <p>10.5k <span>Sellers active on our site</span></p>
            </a>
            <a href="#">
                <i class="fa-solid fa-users"></i>
                <p>33k <span>Monthly Product Sale</span></p>
            </a>
            <a href="#">
                <i class="fa-solid fa-box"></i>
                <p>300+ <span>Brands</span></p>
            </a>
            <a href="#">
                <i class="fa-solid fa-truck-fast"></i>
                <p>100+ <span>Delivery</span></p>
            </a>
        </div>
    </div>

</section>


<section class="section_mangers" id="mangers">
    <div class="grid">
        <div class="card">
            <img src="~/Imgs/AhmedHassan-removebg-preview.png" alt="">
            <h3>Ahmed Hassan</h3>
            <span>Software Engineer</span>
            <p>Computer scince student my major Information System and a Front End Developer Using React</p>
            <a href="https://www.linkedin.com/in/ahmed-hassan-067655250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"> <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Ahmedhassan1122"> <i class="fa-brands fab fa-github"></i></a>
            <a href="https://fabulous-manatee-cc6ef8.netlify.app/"> <i class="fa-solid fa-globe"></i></a>
            <a href="mailto:ah4781293@gmail.com"> <i class="fa-solid fa-envelope"></i></a>

        </div>
        <div class="card">
            <img src="~/Imgs/AhmedElgohary2.png"  alt="">
            <h3>Ahmed Elgohary</h3>
            <span>Software Engineer</span>
            <p>Computer scince student my major Information System and a Back End Developer Using ASP.Net Core</p>
            <a href="https://www.linkedin.com/in/ahmed-elgohary7/"> <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/a7med-elgohary"> <i class="fa-brands fab fa-github"></i></a>
            <a href="#"> <i class="fa-solid fa-globe"></i></a>
            <a href="mailto:ahmedelgoharyy7@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="card">
            <img src="/img/manger3.jpeg" alt="">
            <h3> Will Smith</h3>
            <span>Product Designer</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.</p>
            <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram"></i></a>
            <a href="#"> <i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
</section>



<section class="features">
    <div class="container">
        <div class="feature_item">
            <img src="~/imgs/features1.png" alt="">
            <div class="text">
                <h4>Free shipping</h4>
                <p>Free shipping on all US order</p>
            </div>
        </div>
        <div class="feature_item">
            <img src="~/imgs/features2.png" alt="">
            <div class="text">
                <h4>Free shipping</h4>
                <p>Free shipping on all US order</p>
            </div>
        </div>
        <div class="feature_item">
            <img src="~/imgs/features3.png" alt="">
            <div class="text">
                <h4>Free shipping</h4>
                <p>Free shipping on all US order</p>
            </div>
        </div>
        <div class="feature_item">
            <img src="~/imgs/features4.png" alt="">
            <div class="text">
                <h4>Free shipping</h4>
                <p>Free shipping on all US order</p>
            </div>
        </div>

    </div>

</section>
