
@{
    Layout = "_Layout";
}

<link href="~/css/Contact.css" rel="stylesheet" />
@* <div class="cart">
    <div class="top_cart">
        <h3>My cart <span class="count_item_cart">(0itme in cart)</span></h3>
        <span onclick=" closeCart() " class="close_cart"><i class="fa-regular fa-circle-xmark"></i></span>
    </div>
    <div class="items_in_cart">
    </div>

    <div class="bottom_Cart">
        <div class="total">
            <p>Cart subtotal</p>
            <p class="price_cart_total">$0</p>
        </div>

        <div class="button_Cart">
            <a href="checkout.html" class="btn_cart">Proceed to checkout</a>
            <button onclick="close_cart()" class="btn_cart trans_bg">Shop more</button>
        </div>
    </div>

</div>
 *@

<div class="cont">
    <h2>Contact Us</h2>
    <div class="contact-section">
        <div class="contact-info">
            <h2>Call Us</h2>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: 01080405240</p>
            <h2>Write To Us</h2>
            <p>Email: ah4781293@gmail.com</p>
            <p>Email: support@exclusive.com</p>
        </div>
        <div class="contact-form">
            <h2>Send Us a Message</h2>
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <input type="tel" placeholder="Your Phone" required>
            <textarea rows="5" placeholder="Your Message" required></textarea>
            <button>Send Message</button>
        </div>
    </div>
</div>






